.table-truncate {
	table-layout: fixed;
}

.td-tiny {
	width: 5%;
}

.td-small {
	width: 10%;
}

.td-med {
	width: 15%;
}

.td-max {
	width: 40%
}

.td-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.searchPane {
	float: left;
	margin-left: 50px;
}

.refreshPane {
	float: left;
}

.buttonPane {
	display: flex
}

.alertManagement {
	margin-left: 20px;
}

#attach-dialog-data {
	min-width: parent;
	max-height: 500px;
	display: inline-block;
}

#rankingNumber {
	float: left;
}

.rankingButton {
	margin-left: 10px;
	float: left;
}

#data {
	margin-left: 10%;
	margin-right: 10%;
}

#export-data {
	margin-bottom: 10%;
}

#buttons form .field-group {
	width: 20%;
	float: left;
	padding: 4px 0 4px 4%;
}

#buttons form .field-group label {
	padding: 5px 0 0 0;
}

#create-process-button {
	margin-top: 5px;
}

.collapsible-content {
	display: none;
}

.actionProjectButton {
	margin-left: 10px;
	float: left;
	display: none;
}

tr {
	height: 50px;
}

tr:hover .actionProjectButton {
	display: block;
}

.removeProjectButton {
	background:#ff0000;
}

tr:hover td {
	background: #ebf2f9;
}

.icon-tooltip {
	margin-top: 5px;
	float: left;
}

aui-inline-dialog table tbody tr {
	height:5px;
}