<table class="aui table-truncate aui-table-sortable sortableDialogTable ">
	<thead>
		<tr>
			<th class="td-tiny"></th>
			<th>ID</th>
			<th>SS ID</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody class="issues-list">
		#foreach( $issue in $issues )
		<tr>
			<td class="td-truncate"><input class="dialogChkSelected checkbox" type="checkbox" id=$issue.getCustomFieldValue($customFieldManager.getCustomFieldObject($customFieldId))></td>
			<td class="td-truncate">$issue.getKey()</td>
			<td class="td-truncate">$issue.getCustomFieldValue($customFieldManager.getCustomFieldObject($customFieldId))</td>
			<td class="td-truncate">$issue.getSummary()</td>
		</tr>
		#end
	</tbody>
</table>
