<!--
   (C) Copyright 2015-2018 The SUPERSEDE Project Consortium

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<html>
<head>$webResourceManager.requireResourcesForContext("content-supersede-alerts.context")

</head>
<body>
	<div>
		<!-- 		CHECK SUPERSEDE BUTTON -->
		<div class="refreshPane">
			<button class="aui-button aui-button-secondary check-alerts simple-tooltip" title="$i18n.getText('supersede-alerts-check.supersede.tooltip')">
				<span class="glyphicon glyphicon-repeat"></span> $i18n.getText("supersede-alerts-check-supersede.label")
			</button>

			Last update: <strong>$date</strong>
		</div>
		<!-- 		SEARCH FIELD AND BUTTON -->
		<div class="searchPane">
			<input name="searchAlertsInput" id="searchAlertsInput" placeholder='$i18n.getText("supersede-alerts-alert-search.placeholder")'>
			<button class="aui-button aui-button-primary searchBtn">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
	</div>

	<!-- 	DATA TABLE -->
	<div id="data-section">
	<!-- 			IMPORT - ATTACH - DELETE BUTTONS  -->
	<br>
	<br>
			<div class="aui-group">
				<div style="float: left" class="aui-item buttonPane">
					<button id="import-dialog-show-button" name="action" value="Import" class="aui-button aui-button-primary toEnable simple-tooltip" title="Create new issue from selected alert(s)">
						<span class="glyphicon glyphicon-plus"></span> <span class="submit-text">$i18n.getText("supersede-alerts-create-btn.label")</span>
					</button>
					<button style="margin-left: 20px" id="bulk-dialog-show-button" class="aui-button aui-button-primary alertManagement simple-tooltip" title="Convert all alerts to issues">
						<span class="glyphicon glyphicon-th-list"></span> Convert all alerts to issues
					</button>
					<button style="margin-left: 20px" id="clusterization-dialog-show-button" class="aui-button aui-button-primary alertManagement simple-tooltip" enabled="false" title="Convert all alerts to issues">
						<span class="glyphicon glyphicon-th-list"></span> Perform clusterization
					</button>
					<button style="margin-left: 20px" id="attach-dialog-show-button" class="aui-button aui-button-primary alertManagement toEnable simple-tooltip" title="Attach selected alert to existing issue(s)">
						<span class="glyphicon glyphicon-paperclip"></span> $i18n.getText("supersede-alerts-attach-btn.label")
					</button>
					<button style="margin-left: 20px" id="check-similarity" class="aui-button aui-button-secondary alertManagement toEnable simple-tooltip" title="Check similarity for this alert">
						<span class="glyphicon glyphicon-list-alt"></span> Check similar items
					</button>
					<button id="dialog-delete-button" class="aui-button aui-button-secondary alertManagement toEnable simple-tooltip" title='$i18n.getText("supersede-alerts-delete-btn.tooltip")'>
						<span class="glyphicon glyphicon-trash"></span> $i18n.getText("supersede-alerts-delete-btn.label")
					</button>
				</div>
			</div>
		<div class="p-list">
			<table class="aui table-truncate aui-table-sortable sortableTable">
				<thead>
					<tr>
						<th class="td-tiny"></th>
						<!-- <th class="td-tiny"></th> -->
						<th class="td-med">$i18n.getText("supersede-alerts-table-id.label")</th>
						<th class="td-small">Classification</th>
						<!-- <th class="td-small">$i18n.getText("supersede-alerts-table-app-id.label")</th> -->
						<th class="td-med">$i18n.getText("supersede-alerts-table-timestamp.label")</th>
						<th class="td-max">$i18n.getText("supersede-alerts-table-description.label")</th>
						<!-- <th class="td-tiny">$i18n.getText("supersede-alerts-table-positive.label")</th> -->
						<!-- <th class="td-tiny">$i18n.getText("supersede-alerts-table-negative.label")</th> -->
						<!-- <th class="td-tiny">$i18n.getText("supersede-alerts-table-sentiment.label")</th> -->
						<th class="td-tiny">$i18n.getText("supersede-alerts-table-attachment.label")</th>
						<th class="td-tiny"></th>
					</tr>
				</thead>
				<tbody class="projects-list">
					#foreach( $alert in $alerts )
					<tr>
						<td class="td-truncate"><input class="chkSelected checkbox" type="checkbox" id=$alert.getBase64Id()></td>
						<!-- <td class="td-truncate">$alert.getSameCluster()</td> -->
						<td class="td-truncate alertId"><a href="supersede-alerts?xmlAlert=y&xmlAlertId=$alert.getBase64Id()" target="_blank">$alert.getId()</a></td>
						<td class="td-truncate">$alert.getClassification()</td>
						<!-- <td class="td-truncate">$alert.getApplicationId()</td> -->
						<td class="td-truncate">$alert.getDate()</td>
						<td class="td-truncate" title="$alert.getDescription()" onLoad="AJS.$(this).tooltip();">$alert.getDescription()</td>
						<!-- <td class="td-truncate">$alert.getPositive()</td> -->
						<!-- <td class="td-truncate">$alert.getNegative()</td> -->
						<!-- <td class="td-truncate">$alert.getSentiment()</td> -->
						<td class="td-truncate">#if($alert.getCount() > 0)<a data-aui-trigger aria-controls=$alert.getFilteredId() href="#">$alert.getCount()</a> <!-- 						INLINE DIALOG (RELATED TO ROW)  --> <aui-inline-dialog id=$alert.getFilteredId()>
							#foreach( $issue in $alert.getIssues())
							<table>
								<tbody>
									<tr>
										<a href="$baseurl/browse/$issue">$issue</a>
									</tr>
								</tbody>
							</table>
							#end </aui-inline-dialog> #else - #end
						</td>

						<td class="td-truncate">#if($alert.getCount() > 0)<span class="glyphicon glyphicon-ok"></span>#end
						</td>

					</tr>
					#end
				</tbody>
			</table>

			<!-- PROJECT SELECTION IMPORT DIALOG -->
			<section role="dialog" id="import-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<!-- The dialog's title -->
					<h2 class="aui-dialog2-header-main">$i18n.getText("supersede-alerts-project.title")</h2>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">$i18n.getText("supersede-alerts-close.btn.label")</span>
					</a>

				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content">
					Choose a project where the selected alert(s) will be added as issue(s), and the type the issue will get. <br> <br>
					<form class="aui">
						<aui-label for="project-select-import">$i18n.getText("supersede-alerts-project-import.label")</aui-label>
						<select id="project-select-import"> #foreach($project in $projects)
							<option value=$project.getKey()>$project.getKey()</option> #end
						</select>
					</form>
					<br>
					<div id='issue-type'>#parse("/templates/content-supersede-alerts-issue-type.vm")</div>
				</div>
				<!-- Dialog footer -->
				<footer class="aui-dialog2-footer">
					<!-- Actions to render on the right of the footer -->
					<div class="aui-dialog2-footer-actions">
						<form action="supersede-alerts" method="get">
							<input type="hidden" class="selectionList" name="selectionList"> <input type="checkbox" id="chkDeleteStatus" class="toEnable" class="chkDeleteStatus" name="chkDeleteStatus" value="true" />$i18n.getText("supersede-alerts-attach-dialog-check.label")
							<input type="hidden" class="projectField" value=$projectField name="projectField"> <input type="hidden" class="issueType" name="issueType">
							<button id="dialog-submit-button" class="aui-button aui-button-primary dialogButton" name="action" value="Import">$i18n.getText("supersede-alerts-create-btn.label")</button>
						</form>
					</div>
					<!-- HINT TEXT -->
				</footer>
			</section>


			<!-- ATTACH DIALOG -->
			<section role="dialog" id="attach-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<!-- The dialog's title -->
					<h2 class="aui-dialog2-header-main">$i18n.getText("supersede-alerts-issue.title")</h2>
					<!-- Actions to render on the right of the header -->
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">$i18n.getText("supersede-alerts-close.btn.label")</span>
					</a>
				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content">

					<div>
						Select the project containing the target issue where this alert will be attached. <br> You can use the search box in order to filter results.
					</div>

					<form class="aui">
						<select id="project-select-attach" style="float: left; width: 200px;"> #foreach($project in $projects)
							<option value=$project.getKey()>$project.getKey()</option> #end
						</select>
					</form>
					<div class="searchPaneDialog" style="float: right;">
						<input name="searchIssuesDialogInput" id="searchIssuesDialogInput" placeholder='$i18n.getText("supersede-alerts-issue-search.placeholder")'>
						<button class="aui-button aui-button-primary searchBtnDialog">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
					<div id='attach-dialog-data'>#parse("/templates/attach-dialog-data.vm")</div>
				</div>
				<!-- Dialog footer -->
				<footer class="aui-dialog2-footer">
					<!-- Actions to render on the right of the footer -->
					<div class="aui-dialog2-footer-actions">
						<form action="supersede-alerts" method="get">
							<input type="hidden" class="projectField" value=$projectField name="projectField"> <input type="hidden" id="selectionList" class="selectionList" name="selectionList"> <input type="hidden" id="issuesSelectionList" name="issuesSelectionList"> <input
								type="checkbox" id="chkDeleteStatus" class="toEnable" class="chkDeleteStatus" name="chkDeleteStatus" value="true" /> $i18n.getText("supersede-alerts-attach-dialog-check.label")
							<button id="dialog-submit-button" class="aui-button aui-button-primary dialogButton toEnableDialog" name="action" value="Attach">$i18n.getText("supersede-alerts-attach-dialog-btn.label")</button>
						</form>
					</div>
					<!-- HINT TEXT -->
				</footer>
			</section>

			<!-- DELETE DIALOG -->
			<section role="dialog" id="delete-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium aui-dialog2-warning" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<h2 class="aui-dialog2-header-main">$i18n.getText("supersede-alerts-delete-dialog.title")</h2>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
					</a>
				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content dialogDataView">
					<!-- <div class="listToDelete"> </div> -->
					
					This will permanently delete the selected alerts from the SUPERSEDE database! <br> <br> Are you sure you want to continue?
				</div>
					<!-- Dialog footer -->
					<footer class="aui-dialog2-footer">
						<!-- Actions to render on the right of the footer -->
						<div class="aui-dialog2-footer-actions">
							<form action="supersede-alerts" method="post">
								<input type="hidden" class="selectionList" name="selectionList"> <input type="submit" id="dialog-submit-button" class="aui-button aui-button-primary dialogButton" name="deleteAction" value="Delete">
							</form>
						</div>
						<!-- HINT TEXT -->
					</footer>
			</section>

			<!-- SIMILARITY DIALOG -->
			<section role="dialog" id="similarity-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<h2 class="aui-dialog2-header-main">Similarity check</h2>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
					</a>
				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content dialogDataView">
					Select the desired context in order to restrict the similarity check
					<form class="aui">
						<div class="field-group">
							<label for="filter-select">$i18n.getText("supersede-prioritization-filters.label")</label> <select class="select" id="search-similarity-filters" name="search-similarity-filters">
								<option value="alerts">All Alerts</option> 
								<option value="empty">All issues in JIRA</option> #foreach($filter in $filters)
								<option value=$filter.getId()>$filter.getName()</option> #end
							</select>
							<br>
							<br>
							<br>
							
							<label for="similarity-number">$i18n.getText("supersede-prioritization-similarity-number.label")</label> <select class="select" id="select-similarity-number" name="select-similarity-number">
								<option value="1">1</option> 
								<option value="2">2</option> 
								<option value="3">3</option> 
								<option value="4">4</option> 
								<option value="5">5</option> 
								<option value="6">6</option> 
								<option value="7">7</option> 
								<option value="8">8</option> 
								<option value="9">9</option> 
								<option value="10">10</option> 
							</select>
						</div>
					</form>
					<div>
						<!-- Dialog footer -->
						<footer class="aui-dialog2-footer">
							<!-- Actions to render on the right of the footer -->
							<div class="aui-dialog2-footer-actions">
								<form action="supersede-alerts" method="get">
									<input type="hidden" class="issueFilter" name="issueFilter"> <input type="hidden" class="similarity" value="y" name="similarity"> <input type="hidden" class="projectField" value=$projectField name="projectField"> <input
										type="hidden" class="selectionList" name="selectionList"><input
										type="hidden" class="similarity-number" name="similarity-number">
									<button id="similarity-button" style="margin-left: 20px" class="aui-button aui-button-secondary alertManagement toEnable simple-tooltip" title="Check similarity for this alert">
										<span class="glyphicon glyphicon-list-alt"></span> Check similar items
									</button>
								</form>
								<button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
							</div>
							<!-- HINT TEXT -->
						</footer>
			</section>
			
						<!-- BULK DIALOG -->
			<section role="dialog" id="bulk-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<!-- The dialog's title -->
					<h2 class="aui-dialog2-header-main">Create issues from all alerts</h2>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">$i18n.getText("supersede-alerts-close.btn.label")</span>
					</a>

				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content">
					Choose a project where the selected alert(s) will be added as issue(s), and the type the issue will get. <br> <br>
					<form class="aui">
						<aui-label for="project-select-bulk">$i18n.getText("supersede-alerts-project-import.label")</aui-label>
						<select id="project-select-bulk"> #foreach($project in $projects)
							<option value=$project.getKey()>$project.getKey()</option> #end
						</select>
					</form>
					<br>
					<div id='issue-type'>#parse("/templates/content-supersede-alerts-issue-type.vm")</div>
				</div>
				<!-- Dialog footer -->
				<footer class="aui-dialog2-footer">
					<!-- Actions to render on the right of the footer -->
					<div class="aui-dialog2-footer-actions">
						<form action="supersede-alerts" method="get">
							<input type="hidden" class="selectionList" name="selectionList"> <input type="checkbox" id="chkDeleteStatus" class="toEnable" class="chkDeleteStatus" name="chkDeleteStatus" value="true" />$i18n.getText("supersede-alerts-attach-dialog-check.label")
							<input type="hidden" class="projectField" value=$projectField name="projectField"> <input type="hidden" class="issueType" name="issueType"><input type="hidden" class="bulk" name="bulk" value="y">
							<button id="dialog-submit-button" class="aui-button aui-button-primary dialogButton">$i18n.getText("supersede-alerts-create-btn.label")</button>
						</form>
					</div>
					<!-- HINT TEXT -->
				</footer>
			</section>
			
			<!-- CLUSTERIZATION DIALOG -->
			<section role="dialog" id="clusterization-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<h2 class="aui-dialog2-header-main">Clusterization</h2>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
					</a>
				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content dialogDataView">
					Select <strong>tolerance*</strong> and *number of results* in order to proceed with clusterization <br>
					<br>
					<strong>Tolerance</strong> is used in order to filter similarity scores that are too low for the requested accuracy.<br>
					<strong> Number </strong> specifies how many alerts can be clustered to the starter one. <br>
					Please note that higher tolerance is more likely to create smaller clusters<br>
					<form class="aui">
						<div class="field-group">
							<label for="clusterization-tolerance">Similarity score tolerance</label> <select class="select" id="select-clusterization-tolerance" name="select-clusterization-tolerance">
								<option value="low">Low tolerance</option> 
								<option value="med" selected>Medium tolerance (default)</option> 
								<option value="high">High tolerance</option> 
							</select>
							<br>
							<br>
							<br>
							<label for="clusterization-number">$i18n.getText("supersede-prioritization-similarity-number.label")</label> <select class="select" id="select-clusterization-number" name="select-clusterization-number">
								<option value="1">1</option> 
								<option value="2">2</option> 
								<option value="3">3</option> 
								<option value="4">4</option> 
								<option value="5">5</option> 
								<option value="6">6</option> 
								<option value="7">7</option> 
								<option value="8">8</option> 
								<option value="9">9</option> 
								<option value="10" selected>10</option> 
							</select>
						</div>
					</form>
					<div>
						<!-- Dialog footer -->
						<footer class="aui-dialog2-footer">
							<!-- Actions to render on the right of the footer -->
							<div class="aui-dialog2-footer-actions">
								<form action="supersede-alerts" method="get">
									<input type="hidden" name="cluster" value="y">
									<input type="hidden" class="clusterization-tolerance" name="clusterization-tolerance">
									<input type="hidden" class="clusterization-number" name="similarity-number">
									<button id="clusterization-button" style="margin-left: 20px" class="aui-button aui-button-secondary alertManagement simple-tooltip" title="Clusterize">
										<span class="glyphicon glyphicon-list-alt"></span> Clusterize
									</button>
								</form>
								<button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
							</div>
							<!-- HINT TEXT -->
						</footer>
			</section>
			
			
		</div>
	</div>
</body>
</html>
