<html>
<head>$webResourceManager.requireResourcesForContext("content-supersede-alerts.context")

</head>
<body>
	<div>
		<h2>Alerts</h2>
		<!-- 		CHECK SUPERSEDE BUTTON -->
		<div class="refreshPane">
			<button class="aui-button aui-button-secondary check-alerts">
				<span class="glyphicon glyphicon-repeat"></span> Check Supersede
			</button>
		</div>
		<!-- 		SEARCH FIELD AND BUTTON -->
		<div class="searchPane">
			<input name="searchAlertsInput" id="searchAlertsInput"
				placeholder="Search...">
			<button class="aui-button aui-button-primary searchBtn">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
	</div>

	<!-- 	DATA TABLE -->
	<div id="data-section">
		<div class="p-list">
			<table class="aui table-truncate aui-table-sortable sortableTable">
				<thead>
					<tr>
						<th class="td-tiny"></th>
						<th class="td-med">ID</th>
						<th class="td-small">App. ID</th>
						<th class="td-med">Timestamp</th>
						<th class="td-max">Description</th>
						<th class="td-med">Attachments</th>
					</tr>
				</thead>
				<tbody class="projects-list">
					#foreach( $alert in $alerts )
					<tr>
						<td class="td-truncate"><input class="chkSelected checkbox"
							type="checkbox" id=$alert.getId()></td>
						<td class="td-truncate">$alert.getId()</td>
						<td class="td-truncate">$alert.getApplicationId()</td>
						<td class="td-truncate">$alert.getTimestamp()</td>
						<td class="td-truncate">$alert.getDescription()</td>
						<td class="td-truncate"><a data-aui-trigger
							aria-controls=$alert.getFilteredId() href="#">$alert.getCount()</a>
							<!-- 						INLINE DIALOG (RELATED TO ROW)  --> <aui-inline-dialog
								id=$alert.getFilteredId()> #foreach( $issue
							in $alert.getIssues())
							<table>
								<tbody>
									<tr>
										<a href="$baseurl/browse/$issue">$issue</a>
									</tr>
								</tbody>
							</table>
							#end </aui-inline-dialog></td>
					</tr>
					#end
				</tbody>
			</table>

			<!-- ATTACH DIALOG -->
			<section role="dialog" id="demo-dialog"
				class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<!-- The dialog's title -->
					<h2 class="aui-dialog2-header-main">Select the issue(s):</h2>
					<!-- Actions to render on the right of the header -->
					<div class="aui-dialog2-header-secondary searchPaneDialog">
						<input name="searchIssuesDialogInput" id="searchIssuesDialogInput"
							placeholder="Search...">
						<button class="aui-button aui-button-primary searchBtnDialog">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span
						class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
					</a>
				</header>
				<!-- Main dialog content -->
				<div id="attach-dialog-data" class="dialogDataView">#parse("/templates/attach-dialog-data.vm")</div>
				<!-- Dialog footer -->
				<footer class="aui-dialog2-footer">
					<!-- Actions to render on the right of the footer -->
					<div class="aui-dialog2-footer-actions">
						<form action="supersede-alerts" method="get">
							<input type="hidden" class="selectionList" name="selectionList">
							<input type="hidden" id="issuesSelectionList"
								name="issuesSelectionList"> <input type="hidden"
								class="chkDeleteStatus" name="chkDeleteStatus">
							<button id="dialog-submit-button"
								class="aui-button aui-button-primary dialogButton toEnableDialog"
								name="action" value="Attach">Attach</button>
						</form>
						<button id="dialog-close-button"
							class="aui-button aui-button-link">Close</button>
					</div>
					<!-- HINT TEXT -->
				</footer>
			</section>

			<!-- DELETE DIALOG -->
			<section role="dialog" id="delete-dialog"
				class="aui-layer aui-dialog2 aui-dialog2-medium aui-dialog2-warning"
				aria-hidden="true">
				<!-- Dialog header -->
				<header class="aui-dialog2-header">
					<h2 class="aui-dialog2-header-main">Delete selected issue(s)?</h2>
					<!-- Close icon -->
					<a class="aui-dialog2-header-close"> <span
						class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
					</a>
				</header>
				<!-- Main dialog content -->
				<div class="aui-dialog2-content dialogDataView">
					<table class="aui table-truncate">
						<tbody class="project-list">
							#foreach( $alert in $alerts )
							<tr>
								<td class="td-truncate">$alert.getId()</td>
								<td class="td-truncate">$alert.getApplicationId()</td>
							</tr>
							#end
						</tbody>
					</table>
				</div>
				<!-- Dialog footer -->
				<footer class="aui-dialog2-footer">
					<!-- Actions to render on the right of the footer -->
					<div class="aui-dialog2-footer-actions">
						<form action="supersede-alerts" method="post">
							<input type="hidden" class="selectionList" name="selectionList">
							<input type="submit" id="dialog-submit-button"
								class="aui-button aui-button-primary dialogButton"
								name="deleteAction" value="Delete">
						</form>
						<button id="dialog-close-button"
							class="aui-button aui-button-link">Close</button>
					</div>
					<!-- HINT TEXT -->
				</footer>
			</section>

			<!-- 			IMPORT - ATTACH - DELETE BUTTONS  -->
			<div class="aui-group">
				<div style="float: left" class="aui-item buttonPane">
					<form style="float: left" action="supersede-alerts" method="get">
						<input type="hidden" class="selectionList" name="selectionList">
						<input type="hidden" class="chkDeleteStatus"
							name="chkDeleteStatus">
						<button style="margin-left: 20px" name="action" value="Import"
							class="aui-button aui-button-primary alertManagement toEnable">
							<span class="glyphicon glyphicon-plus"></span> <span
								class="submit-text">Create Issue</span>
						</button>
					</form>
					<button style="margin-left: 20px" id="dialog-show-button"
						class="aui-button aui-button-secondary alertManagement toEnable">
						<span class="glyphicon glyphicon-paperclip"></span> Attach to
						issue...
					</button>
					<input style="margin-left: 20px" type="checkbox"
						id="chkDeleteOnClick" class="toEnable" name="chkDeleteOnClick"
						value="" />Delete on create or attach
					<button id="dialog-delete-button"
						class="aui-button aui-button-primary alertManagement toEnable">
						<span class="glyphicon glyphicon-trash"></span> Delete...
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
