<!DOCTYPE html>
<html>
<head>
<title id="Description">Mockup for Requirements Ordering</title>
<script>
	var app = angular.module('orderReqs', []);
	app
			.controller(
					'reqsCtrl',
					function($scope) {
						$scope.requirements = [
								{
									id : 'R0',
									title : 'First Requirement',
									description : 'description of the first requirement',
									characteristics : 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
									link : 'http://mantis/R0'
								},
								{
									id : 'R1',
									title : 'Second Requirement',
									description : 'description of the second requirement',
									characteristics : 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
									link : 'http://mantis/R1'
								},
								{
									id : 'R2',
									title : 'Third Requirement',
									description : 'description of the third requirement',
									characteristics : 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
									link : 'http://mantis/R2'
								},
								{
									id : 'R3',
									title : 'Fourth Requirement',
									description : 'description of the fourth requirement',
									characteristics : 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
									link : 'http://mantis/R3'
								},
								{
									id : 'R4',
									title : 'Fifth Requirement',
									description : 'description of the fifth requirement',
									characteristics : 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
									link : 'http://mantis/R4'
								} ];
					});
	AJS.$(document).ready(function() {
		alert("TRIGGERED");
		AJS.$("#sortable").jqxSortable();
		AJS.$(".jqxexpander").jqxExpander({
			theme : "summer",
			expanded : false,
			width : 200
		});
	});
</script>
<style>
h1 {
	text-align: center;
}

#sortable {
	margin: 0 auto;
	padding: 5px;
	width: 520px;
}

#sortable>div {
	border-radius: 5px;
	margin: 5px;
}

#sortable div {
	padding: 5px;
}

#sortable div:hover {
	border: 1px solid #356AA0;
}
</style>
</head>
<body>
	<h1>Mockup for Requirements Ordering</h1>
	<div id="sortable" ng-app="orderReqs" ng-controller="reqsCtrl">
		<div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
			<div>
				<strong>{{x.id + ': ' + x.title}}</strong>
			</div>
			<div style="background-color: #ffd11a">
				<strong>Description</strong>: {{x.description}}<br> <strong>Characteristics</strong>: {{x.characteristics}}<br> <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
			</div>
		</div>
	</div>
</body>
</html>