<!DOCTYPE html>
<html>
<head>
<title id="Description">Mockup for Requirements Ordering</title>
$webResourceManager.requireResourcesForContext("sortable.context")
</head>
<body>
	<h1>Mockup for Requirements Ordering</h1>
	<div id="sortable" ng-app="orderReqs" ng-controller="reqsCtrl">
		<div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
			<div>
				<strong>{{x.id + ': ' + x.title}}</strong>
			</div>
			<div style="background-color: #ffd11a">
				<strong>Description</strong>: {{x.description}}<br> <strong>Characteristics</strong>: {{x.characteristics}}<br> <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
			</div>
		</div>
	</div>
</body>
</html>