<html>
<head>
$webResourceManager.requireResourcesForContext("logic-supersede-alerts.context")
<meta name="decorator" content="atl.general">
$webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-tooltips") 
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-table-sortable") 
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-inline-dialog2")
<title>SUPERSEDE - Issue Manager</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="page-type-admin">
	<!--  parsing header -->
	#parse("/templates/general-header.vm")
	<div class="aui-page-panel" id="browse-issues-page">
		<div class="aui-page-panel-inner">
			<!-- parsing project list -->
			#parse("/templates/general-project-list.vm")
			<div id="data">#parse("/templates/content-supersede-alerts.vm")</div>
		</div>
	</div>

</body>
</html>