<html>
<head>
<title>SUPERSEDE - Issue Manager</title>
<meta name="decorator" content="atl.general">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
$webResourceManager.requireResourcesForContext("angular.context")
</head>
<body class="page-type-admin">
	<!--  parsing header -->
	#parse("/templates/general-header.vm")
	<div class="aui-page-panel" id="browse-issues-page">
		<div class="aui-page-panel-inner">
			<!-- parsing project list -->
			#parse("/templates/general-project-list.vm")
			<div id="data">#parse("/templates/content-supersede-plan.vm")</div>
		</div>
	</div>

</body>
</html>