 This table shows the started processes in SUPERSEDE. Process statuses are updated on every startup.
<br>
In order to retrieve the most recent changes, you need to
<strong>refresh</strong>
this page.
<br>
<br>

If a ranking is available, it is possible to import it in JIRA, updating issues reflecting SUPERSEDE prioritization game.
<br>
If there is no ranking and a warning sign is visible, that process has been created with different connection settings from the active ones. If there


<table class="aui table-truncate aui-table-sortable sortableTableProcesses">
	<thead>
		<tr>
			<th class="td-small">Status</th>
			<th class="td-small">Name</th>
			<th class="td-small">$i18n.getText("supersede-prioritization-process-description.label")</th>
			<th class="td-tiny">$i18n.getText("supersede-prioritization-process-ss-id.label")</th>
			<th class="td-small">Rankings</th>
			<th class="td-med">Last Import Date</th>
			<th class="td-tiny">SS Link</th>
		</tr>
	</thead>
	<tbody class="process-list">
		#if ($processes.isEmpty())
		<tr>
			<td colspan="4">$i18n.getText("supersede-prioritization-process-none.label")</td>
		</tr>
		#end #foreach( $process in $processes )
		<tr>
			<td class="td-truncate">#if($process.getStatus() == 'InProgress') <span class="icon-tooltip aui-icon aui-icon-small aui-iconfont-build" title="Process in progress">In progress</span> #elseif($process.getStatus() == 'Done') <span
				class="icon-tooltip aui-icon aui-icon-small aui-iconfont-success" title="Process completed successfullt">Done</span> #elseif($process.getStatus() == 'Closed') <span class="icon-tooltip aui-icon aui-icon-small aui-iconfont-locked"
				title="This process is closed">Closed</span> #elseif($process.getStatus() == 'Retry') <span class="icon-tooltip aui-icon aui-icon-small aui-iconfont-warning" title="There was a problem during evaluation of this process">Retry</span> #else <span
				class="icon-tooltip aui-icon aui-icon-smallaui-iconfont-remove-label">Removed</span> #end #if($process.getStatus() != 'Removed' && $process.getStatus() != 'Closed')
				<form action="supersede-prioritization-list" method="POST">
					<input type="hidden" name="processId" id="ranking-process-id" value=$process.getSSProjectId()>
					<button class="aui-button aui-button-secondary actionProjectButton" id=$process.getSSProjectId() name="action" value="closeProject">$i18n.getText("supersede-prioritization-process-result-close.label")</button>
				</form> #end #if($process.getStatus() == 'Closed')
				<form action="supersede-prioritization-list" method="POST">
					<input type="hidden" name="processId" id="ranking-process-id" value=$process.getSSProjectId()>
					<button class="aui-button aui-button-error actionProjectButton removeProjectButton" id=$process.getSSProjectId() name="action" value="removeProject">$i18n.getText("supersede-prioritization-process-result-remove.label")</button>
				</form> #end
			</td>
			<td class="td-truncate">$process.getName()</td>
			<td class="td-truncate">$process.getDescription()</td>
			<td class="td-truncate" style="display: none">
				<button id="process-start-button" class="aui-button">
					<span class="aui-icon aui-icon-small aui-iconfont-deploy">Start</span> Start
				</button>
				<button id="process-wait-button" class="aui-button disabled">
					<span class="aui-icon aui-icon-wait">Loading...</span> Wait
				</button>
				<button id="process-save-button" class="aui-button">
					<span class="aui-icon aui-icon-small aui-iconfont-approve">Ready for import</span> Save
				</button>
			</td>
			<td class="td-truncate">$process.getSSProjectId()</td>

			<td class="td-truncate">
				<div id="ranking">
					<div id="rankingNumber">#if($process.getStatus() == 'InProgress' && $process.getRankings()>= 1) $process.getRankings() #else - #end</div>
					#if($process.getStatus() == 'InProgress' && $process.getRankings() == 1)
					<form action="supersede-prioritization-list" method="POST">
						<input type="hidden" name="processId" id="ranking-process-id" value=$process.getSSProjectId()>
						<button class="aui-button aui-button-primary rankingButton" id=$process.getSSProjectId() name="action" value="rankingImport" title="Update issues with this process' ranking. This will update issues' priority reflecting game results">$i18n.getText("supersede-prioritization-process-result-import.label")</button>
					</form>
					#end
				</div>
			</td>

			<td class="td-truncate">#if($process.getLastRankingImportDate()) $process.getLastRankingImportDate() #else - #end</td>
			<td class="td-truncate"><a href=$process.getSSLink()>SS Link</a></td>

		</tr>
		#end
	</tbody>
</table>
