<html>
<head>
<script>
	AJS.$(document).ready(function() {
		var selectionString = '';
		jQuery('.check-alerts').click(function() {
			console.log('refreshing alerts');
			var self = jQuery(this);
			jQuery.ajax({
				type : "get",
				url : "supersede-man?refreshAlerts=y",
				success : function(data) {
					//console.log('dom', self, data);
					$("#alerts").html(data);
					//self.parent().parent().remove();
				},
				error : function() {
					console.log('error', arguments);
				}
			});
			return false;
		});
		
		jQuery('.chkSelected').click(function() {
			console.log('selected alert');
			if ($(this).prop('checked')) {
			// Write a string containing the IDs of selected alerts
				alert("ID is " + $(this).attr('id'));
				alert(selectionString);
				selectionString += $(this).attr('id');
				selectionString += '\n';
				alert(selectionString);
			} else {
				//Remove the selected ID if checkbox gets unchecked
				alert(selectionString);
				selectionString = selectionString.replace($(this).attr('id') + '\n', '');
				alert(selectionString);
			}
		});
		
		jQuery('.alertManagement').click(function() {
			console.log('alert management')
			$("#selectionList").val(selectionString);
		});
	});
</script>
</head>
<body>
	<div class="tabs-pane" id="alerts">
		<div class="mod-header" id="filter-projects">
			<div>
				<h2>Alerts</h2>
				<span>
					<button class="aui-button aui-button-secondary check-alerts">Check
						Supersede</button>
				</span>
			</div>
			<div class="p-list">
					<table class="aui table-truncate">
						<thead>
							<tr>
								<th class="td-med"></th>
								<th class="td-max">ID</th>
								<th class="td-med">App. ID</th>
								<th class="td-max">Timestamp</th>
								<th class="td-max">Description</th>
							</tr>
						</thead>
						<tbody class="projects-list">
							#foreach( $alert in $alerts )
							<tr>
								<td class="td-truncate"><input class="checkbox chkSelected"
									type="checkbox" id=$alert.getId()> </td>
								<td class="td-truncate">$alert.getId() </td>
								<td class="td-truncate">$alert.getApplicationId()</td>
								<td class="td-truncate">$alert.getTimestamp()</td>
								<td class="td-truncate">$alert.getDescription()</td>
							</tr>
							#end
						</tbody>
					</table>
					<div class="aui-group">
						<div class="aui-item">
						<form action="supersede-man" method="get">
							<input type="hidden" id="selectionList" name="selectionList">
							<input class="aui-button aui-button-primary alertManagement" type="submit"
								name="action" value="Import"> <input
								class="aui-button aui-button-secondary alertManagement" type="submit"
								name="action" value="Attach">
						</form>
					</div>
					</div>
			</div>
		</div>
	</div>
</body>
</html>