<!--
   (C) Copyright 2015-2018 The SUPERSEDE Project Consortium

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<html>
<head>
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
<script>
	AJS.$(document).ready(function() {
		AJS.$('#jira-user').auiSelect2();
		AJS.$('#replan-user').auiSelect2();

		AJS.$('#page-title').text("Settings");
	});
</script>
<title>SUPERSEDE - Configuration</title>
<meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
	<!--  parsing header -->
	#parse("/templates/general-header.vm")

	<div class="aui-page-panel" id="browse-issues-page">
		<div class="aui-page-panel-inner">

			<section class="aui-page-panel-content">
				<div class="module">
				
				Last update (version number): 20180313
				<br>
				<br>
					<div class="mod-header" id="connect-params-head">
						<div>
							<h2>Default Connection parameters</h2>
							<i>(mandatory)</i>
						</div>
					</div>

					<div class="mod-content" id="connection-params">
						<form method="post" action="supersede-cfg" class="aui dont-default-focus">
							<p>
								Insert Supersede host, username and password. This will be used as login for every action that requires it (such as alerts retrieval, process creation and replan usage) <br /> This is <strong>mandatory</strong>, and can be overwritten with
								user-specific settings below.<br /> It is recommended to set an user with high permissions here, and narrow them by specifying another user below.<br />
							</p>
							<input type="hidden" name="config" value="y">
							<p>
								<label for="hostname-input">Hostname URL:</label> <input type="text" id="hostname-input" name="hostname" value="$hostname" required>
							</p>
							<p>
								<label for="username-input">Username:</label> <input type="text" id="username-input" name="username" value="$username" required>
							</p>
							<p>
								<label for="password-input">Password:</label> <input type="password" id="password-input" name="password" value="" required>
							</p>
							<p>
								<input type="submit" class="button" value="Save">
							</p>
						</form>
					</div>
				</div>

				<div class="module">
					<div class="mod-header" id="interface-options-head">
						<div>
							<h2>Default Connection options</h2>
							<i>(highly recommended)</i>
						</div>
					</div>

					<div class="mod-content" id="interface-options">
						<form method="post" action="supersede-cfg" class="aui dont-default-focus">
							<input type="hidden" name="options" value="y">
							<p>
							<p>
								If specified, will use this tenant when fetching or creating requirements/features in SUPERSEDE.<br /> If not specified, the tenant will be retrieved from the project where issues will be saved.<br /> It is <strong>highly recommended</strong> to
								specify a tenant here, in order to prevent errors due to wrong project names.<br /> This value can be edited at any time. Please make sure the tenant is an existing one, otherwise the plugin will not work!
							</p>
							<p>
								<label for="tenant-input">Force tenant:</label> <input type="text" id="tenant-input" name="tenant" value="$tenant">
							</p>
							<p>
								<input type="submit" class="button" value="Save">
							</p>
						</form>
					</div>

					<br> <br>
					<hr>
					<br>
					
					<div class="module">
						<div class="mod-header" id="interface-options-head">
							<div>
								<h2>Similarity options</h2>
								<i>(highly recommended)</i>
							</div>
						</div>

						<div class="mod-content" id="interface-options">
							<form method="post" action="supersede-cfg" class="aui dont-default-focus">
								<input type="hidden" name="similarity-flag" value="y">
								<p>
									This is the host of the similarity application. It is <strong>highly recommended</strong> in order to ensure a smooth Supersede and JIRA experience
								</p>
								<p>
									<label for="similarity">Similarity host:</label> <input type="text" id="similarity" name="similarity" value="$similarity" required>
								</p>
								<input type="submit" class="button" value="Save">

							</form>
						</div>



					</div>
					

					<div class="module">
						<div class="mod-header" id="interface-options-head">
							<div>
								<h2>Replan options</h2>
								<i>(mandatory)</i>
							</div>
						</div>

						<div class="mod-content" id="interface-options">
							<form method="post" action="supersede-cfg" class="aui dont-default-focus">
								<input type="hidden" name="replan" value="y">
								<p>
									This will be the replan's main host for SUPERSEDE it is <strong>mandatory</strong> since Replan is independent from Supersede and JIRA instance. Tenant is <strong>mandatory</strong> too
								</p>
								<p>
									<label for="replan-host">Replan host:</label> <input type="text" id="replan-host" name="replan-host" value="$replan-host" required>
								</p>
								<p>
								<p>
									<label for="replan-tenant">Replan tenant:</label> <input type="text" id="replan-tenant" name="replan-tenant" value="$replan-tenant">
								</p>
								<input type="submit" class="button" value="Save">

							</form>
						</div>



					</div>

					<div class="module">
						<div class="mod-header" id="interface-options-head">
							<div>
								<h2>User-specific Supersede login options</h2>
								<i>(optional)</i>
							</div>
						</div>
						<form method="post" action="supersede-cfg" class="aui dont-default-focus">
							Insert the Supersede username and password. This will be used when performing tasks instead of above general login.<br /> It is <strong>optional</strong>, since a login is still available above.<br /> This will be saved and will be available only
							to you. <br /> If user below is filled, there is an entry saved for your user. <br /> Every update of this data overwrites the data already in tables. <br /> <input type="hidden" name="SSlogin" value="y">
							<p>
								<label for="ss-username-input">SS Username:</label> <input type="text" id="ss-username-input" name="SSusername" value="$ssUser">
							</p>
							<p>
								<label for="ss-password-input">Password:</label> <input type="password" id="ss-password-input" name="SSpassword" value="">
							</p>
							<p>
								<label for="ss-tenant-input">Force tenant:</label> <input type="text" id="ss-tenant-input" name="SStenant" value="$ssTenant">
							</p>
							<p>
								<input type="submit" class="button" value="Save">
							</p>
						</form>
					</div>
					<br> <br>
					<hr>
					<br>

					<div>
						<div class="module">
							<div class="mod-header" id="interface-options-head">
								<div>
									<h2>Replan Login Table</h2>
									<i>(mandatory)</i>
								</div>
							</div>
							<p>
								Since Replan users may be different from JIRA ones, it is required to pair them. <br> It is <strong>mandatory</strong> in order to fill issue assignees, and is <strong>highly recommended</strong> to have every user involved in just one pair.<br>
								A JIRA user could be paired with more than one Replan user, but not viceversa, since the plugin pairs issues with the first match it finds.

							</p>
							<div class="mod-content" id="interface-options">
								<form method="post" action="supersede-cfg" class="aui dont-default-focus">
									<input type="hidden" name="replan-login-table" value="y">
									<p>
									<p>Select JIRA user and insert corresponding Replan user</p>
									<p>
										<label for="jira-user">JIRA user:</label> <select id="jira-user" name="jira-user"> #foreach($jiraUser in $users)
											<option value=$jiraUser.getUsername()>$jiraUser.getUsername()</option> #end
										</select>
									</p>
									<p>
										<label for="replan-user">Replan user:</label> <select id="replan-user" name="replan-user"> #foreach($replanUser in $replanUsers)
											<option value='$replanUser'>$replanUser</option> #end
										</select>
									</p>
									<p>
										<input type="submit" class="button replanJiraUser" value="Insert">
									</p>
								</form>
							</div>

							<table class="aui">
								<thead>
									<tr>
										<th id="jira-user">JIRA Username</th>
										<th id="replan-user">Replan username</th>
										<th id="replan-tenant">Replan tenant</th>
									</tr>
								</thead>
								<tbody>
									#foreach($replanLogin in $replanLogins)
									<tr>
										<td headers="jira-user">$replanLogin.getJiraUsername()</td>
										<td headers="replan-user">$replanLogin.getReplanUsername()</td>
										<td headers="replan-user">$replanLogin.getTenant()</td>
									</tr>
									#end
								</tbody>
							</table>
						</div>

						<hr>
						<div class="module">
							<div class="mod-header" id="interface-options-head">
								<div>
									<h2>Delete all data from processes</h2>
									<i>(optional)</i> <br> Use this command only if you <strong>really need</strong> to delete all processes from JIRA. <br> This <strong>will not</strong> delete them from SUPERSEDE, but it is not possible to retrieve them again.
								</div>
							</div>

							<form action="supersede-cfg" method="get">
								<button class="aui-button aui-button-primary" name="delete" value="delete">Delete all JIRA Processes</button>
							</form>
						</div>
					</div>
			</section>

			<!-- .aui-page-panel-content -->
		</div>
		<!-- .aui-page-panel-inner -->
	</div>
</body>
</html>