<html>
<head>
<title>SUPERSEDE - Issue Manager</title>
<meta name="decorator" content="atl.general">
<style type="text/css">
.table-truncate {
	table-layout: fixed;
}

.td-small {
	width: 5%;
}

.td-med {
	width: 20%;
}

.td-max {
	width: 60%
}

.td-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
</head>
<body class="page-type-admin">
	<header class="aui-page-header">
		<div class="aui-page-header-inner">
			<div class="aui-page-header-main">
				<h1>
					<img
						src="$baseurl/download/resources/eu.supersede.jira.plugins.supersede-jira-plugin:supersede-jira-plugin-resources/images/supersede_color.png">
					Issues Manager
				</h1>
				<!-- .aui-page-header-main -->
			</div>
		</div>
		<!-- .aui-page-header-inner -->
	</header>

	#if ($errors && $errors.size()>0)
	<div class="content-container">
		<div class="content-body">
			<div class="aui-message error shadowed">
				#foreach($error in $errors)
				<p class="title">
					<span class="aui-icon icon-error"></span> <strong>$error</strong>
				</p>
				#end
			</div>
			<!-- .aui-message -->
		</div>
	</div>
	#end



	<div class="aui-page-panel" id="browse-issues-page">
		<div class="aui-page-panel-inner">
			<div class="aui-page-panel-nav">
				<nav class="aui-navgroup aui-navgroup-vertical">
					<div class="aui-navgroup-inner">
						<div class="aui-nav-heading">
							<h2>
								<strong>Projects</strong>
							</h2>
						</div>
						<ul class="aui-nav">
							<li class="aui-nav-selected"><a href="#">atos</a></li>
							<li><a href="#">test</a></li>
						</ul>
					</div>
				</nav>
				<!-- .aui-page-panel-nav -->
			</div>

			<section class="aui-page-panel-content">

				<div class="aui-tabs horizontal-tabs">
					<ul class="tabs-menu">
						<li class="menu-item active-tab"><a href="#mapped-issues">Mapped
								Issues</a></li>
						<li class="menu-item"><a href="#import">Import</a></li>
						<li class="menu-item"><a href="#export">Export</a></li>
						<li class="menu-item"><a href="#compare">Compare <aui-badge>$differences.size()</aui-badge></a>
						</li>
						<li class="menu-item"><a href="#alerts">Alerts </a></li>
					</ul>

					<div class="tabs-pane active-pane" id="mapped-issues">
						#parse("/templates/supersede-man-mapped-issues-table.vm")</div>

					<div class="tabs-pane" id="import">
						#parse("/templates/supersede-man-import-table.vm")</div>

					<div class="tabs-pane" id="export">
						#parse("/templates/supersede-man-export.vm")</div>

					<div class="tabs-pane" id="compare">
						#parse("/templates/supersede-man-compare-table.vm")</div>
						
					<div class="tabs-pane" id="alerts">
						#parse("/templates/supersede-man-alerts-table.vm")</div>

				</div>
			</section>

			<!-- .aui-page-panel-content -->

		</div>
		<!-- .aui-page-panel-inner -->
	</div>
	</div>
</body>
</html>